*{
    /* height: 100%; */
    /* width: 100%; */
    /* box-sizing: border-box; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: salmon;
}
#tbl{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 210px;

}
input{
    height: 55px;
    width: 80px;
    font-size: larger;
    font: 300;
    font-family: 'Poppins';
    font-weight: 600;
    border-radius: 10px;
    background:linear-gradient(rgb(238, 232, 232),rgb(27, 27, 28))
}
#inp{
    width: 250px;
    background-color: #fff;
}
